## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/09/23 03:48:59 UTC

[Commit](https://github.com/dMajoIT/arduino-esp32/commit/d8a1bf60d01aac021fc5f3cff30126f11d1e10a6) / [Build and QEMU run](https://github.com/dMajoIT/arduino-esp32/actions/runs/35815064611) / [Hardware and Wokwi run](https://github.com/dMajoIT/arduino-esp32/actions/runs/35815653960) / [Results processing](https://github.com/dMajoIT/arduino-esp32/actions/runs/35815675128)

[Test results](https://github.com/dMajoIT/arduino-esp32/runs/107037003427)
