## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/10/08 05:01:12 UTC

[Commit](https://github.com/dMajoIT/arduino-esp32/commit/d8a1bf60d01aac021fc5f3cff30126f11d1e10a6) / [Build and QEMU run](https://github.com/dMajoIT/arduino-esp32/actions/runs/37729370638) / [Hardware and Wokwi run](https://github.com/dMajoIT/arduino-esp32/actions/runs/37730097174) / [Results processing](https://github.com/dMajoIT/arduino-esp32/actions/runs/37730164237)

[Test results](https://github.com/dMajoIT/arduino-esp32/runs/113157588645)
