## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/10/05 04:35:26 UTC

[Commit](https://github.com/dMajoIT/arduino-esp32/commit/d8a1bf60d01aac021fc5f3cff30126f11d1e10a6) / [Build and QEMU run](https://github.com/dMajoIT/arduino-esp32/actions/runs/37263413198) / [Hardware and Wokwi run](https://github.com/dMajoIT/arduino-esp32/actions/runs/37264074659) / [Results processing](https://github.com/dMajoIT/arduino-esp32/actions/runs/37264093084)

[Test results](https://github.com/dMajoIT/arduino-esp32/runs/111617390037)
