## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/09/28 04:11:34 UTC

[Commit](https://github.com/dMajoIT/arduino-esp32/commit/d8a1bf60d01aac021fc5f3cff30126f11d1e10a6) / [Build and QEMU run](https://github.com/dMajoIT/arduino-esp32/actions/runs/36376000209) / [Hardware and Wokwi run](https://github.com/dMajoIT/arduino-esp32/actions/runs/36376546518) / [Results processing](https://github.com/dMajoIT/arduino-esp32/actions/runs/36376566936)

[Test results](https://github.com/dMajoIT/arduino-esp32/runs/108783762503)
