## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/09/21 03:50:34 UTC

[Commit](https://github.com/dMajoIT/arduino-esp32/commit/d8a1bf60d01aac021fc5f3cff30126f11d1e10a6) / [Build and QEMU run](https://github.com/dMajoIT/arduino-esp32/actions/runs/35558266710) / [Hardware and Wokwi run](https://github.com/dMajoIT/arduino-esp32/actions/runs/35558773039) / [Results processing](https://github.com/dMajoIT/arduino-esp32/actions/runs/35558786673)

[Test results](https://github.com/dMajoIT/arduino-esp32/runs/106207756613)
