## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/10/02 04:35:46 UTC

[Commit](https://github.com/dMajoIT/arduino-esp32/commit/d8a1bf60d01aac021fc5f3cff30126f11d1e10a6) / [Build and QEMU run](https://github.com/dMajoIT/arduino-esp32/actions/runs/36964322104) / [Hardware and Wokwi run](https://github.com/dMajoIT/arduino-esp32/actions/runs/36964960538) / [Results processing](https://github.com/dMajoIT/arduino-esp32/actions/runs/36964980548)

[Test results](https://github.com/dMajoIT/arduino-esp32/runs/110707427221)
